@import 'tailwindcss';

@theme {
  --color-brand: #1793d1;

  --color-void: #0f0f0f;
  --color-layer: #161616;
  --color-edge: #ffffff1a;

  --color-main: #ffffff;
  --color-muted: #a6a09b;

  --font-mono: 'JetBrains Mono Variable', monospace;
  --font-sans: 'Inter Variable', system-ui, -apple-system, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-edge) transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-void);
  color: var(--color-main);
  font-family: var(--font-sans);
  min-height: 100dvh;
}
